
.accueil-img-section {
    height: 60% ;
    background-image: url(http://www.englishguypersonaltraining.com/uploads/2/7/6/5/27659709/header_images/1399565385.jpg);
    background-size: cover;
    display: flex ;
    align-items: center;
    justify-content: center ;
}

.accueil-titre {
    color: rgb(235, 231, 20);
    margin :0 ;
}

.accueil-text {
    margin: 0 ;
    color: white ;
}


.text-container {
    text-align: center;
    /* vw length is relative to the full width of the browser window.*/
    padding :1.5vw;
    display: inline-block;
    border: 4px double rgb(235, 231, 20); 
    }


.newsletter {
    height: 35%;
}

#emailInput{
    width: 300px;
    border-radius: 20px;
}

.fa-button{
    border-radius:20px; 
    border-style: none; 
    background-color: rgb(97, 238, 41);
}


footer {
    width: 100% ;
    position: fixed;
    background-color: black ;
    padding: 10px;
    display: flex ;
    justify-content: space-around ;
}

.flex {
    display: flex ; 
    justify-content: center ;
}



/* inscription */
input[type=text], [type=email], [type=password]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* connexion */
.circle{
    width:65px;
    height:65px;
    text-align:center;
    border: 1px solid gray;
    border-radius:70px;
    line-height: 70px;
    color: #70726F;
}

.btn-fb {
    border: 1px solid rgb(10, 10, 114);
    color: rgb(10, 10, 114);
    background-color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    width: 150px;
    cursor: pointer;


}

.btn-twitr{
    border: 1px solid rgb(44, 189, 233);
    color: rgb(44, 189, 233);
    background-color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    width: 150px;
    cursor: pointer;
}
